PORT=8000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# MongoDB
MONGO_URI=mongodb://mongo:27017/ai_trainer_english

# JWT
ACCESS_TOKEN_SECRET=access_secret_change_in_production
REFRESH_TOKEN_SECRET=refresh_secret_change_in_production
ACCESS_TOKEN_EXPIRES=30m
REFRESH_TOKEN_EXPIRES=7d
